img {
	max-width: 100%;
}
body {
	background-color: lavenderblush;
}
a img {
	max-width: 100%;
	float: left;
	height:250px ;
	width: 250px;
	margin: 15px 15px 15px 75px;
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
header {
	text-align: center;
	margin-top: 0.2em;
	margin-bottom:0.2em ;
	border-radius:0.5em ;
}
nav {
	font-style: italic;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
nav li {
	border-radius: 50px;
	list-style-type: none;
	margin:  0.3em;
	margin-top: 5em;
	padding: 0.4em;
	display: inline-block;
	border: 2px solid lightcoral ;
}
nav li a {
	color: #000;
	text-decoration: none;
	padding: 5px 10px;
}
.navbar li ul{
    display: none;
    position: absolute;
    background: transparent;
    border-radius: 20px;
    width: 193px;
    margin-top: 5px;
}
.navbar li a:hover {
    background-color: lightblue;
    border-radius: 20px;
}

.navbar li:hover ul{
    display: block;
}

.navbar li ul li{
    width: 80px;
    border-radius: 50px;
    font-size: 10px;
    padding: 10px 20px;
	margin-top: 1em;
    
}

.navbar li ul li a{
    color: #000;
	font-size: 1.25em; 
	padding: 2px;
}

.navbar li ul li a:hover {
    background-color: lightblue;
    border-radius: 20px;
    font-size: 18px;
}

.active{
	background-color: #FF2400;
	border: none;
}
main {
	display:block;
	margin-top: 12%;
	padding: 1em;
	border-radius: 2em;
	background-color: rgb(115, 188, 248);
	border: solid 0.2em lightcoral;
	opacity: 0.85;
	background-image: url("../Images/contcat.jpg");
}
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}
h2 {
	text-align: center;
	font-style: italic;
	font-size: 2em;
	color: lightcoral;
}
div p {
	text-align: center;
	font-style: italic;
	font-size: 1.5em;
	font-weight: bold;
	color: lightcoral;
}
input, select, textarea {
	display: block;
	margin-bottom: 0.2em;
}
label {
	display: block;
	width: 10em;
	padding-right: 0.5em;
	font-style: italic;
	font-size: 1.2em;
}
fieldset p {
	font-size: 1.2em;
}
p, span, li {
	font-style: italic;
}
legend {
	font-style: italic;
	font-weight: bold;
}
form {
	display: table;
}
div form {
	align-content: center;
	color: lightcoral;
}
form ul{
    list-style-type: none;
}
.chkbx {
	display: inline-block;
}